
* {
    box-sizing: border-box;
  }

.blogPost{
    padding: 20px;
    background: #f1f1f1;
}

.blogPost:after {
    content: "";
    display: table;
    clear: both;
}

.blogPost__leftcolumn{
    float: left;
    width: 75%;
}

.blogPost__rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

.blogPost__card{
    background-color: var(--background_color);
    padding: 20px;
    margin-top: 20px;
}
.blogPost__card h2{
    font-size: 2.4rem;
    font-weight: 900;
    color: var(--text_grey);
}

.blogPost__card h5{
    color:var(--text_red);
    font-size: 0.9rem;
}

.blogPost__card p{
    color: var(--text_grey);
    font-size: 1.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

  .blogPost__img {
    background-image: url("/assets/images/sincerely-media-read.jpg");
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.blogPost__articleName{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;

    font-size: 2rem;
    font-weight: 800;
  
}

.blogPost__imgSmall{
    background-color:var(--text_lightgrey);
    width: 100%;
    padding: 5px;
    height: 50px;
}

  @media screen and (max-width: 800px) {
    .blogPost__leftcolumn, .blogPost__rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }